body {
	background-color: black;
	text-align: center;
	font-family: Verdana;
	color: white;
}
.link {
	color: Aquamarine;
	font-size: 16px;
}
#title {
	font-size: 50px;
	font-weight: normal;
	color: white;
}
.flavor {
	font-size: 21 px;
	color: gray;
}
#copyright {
	text-align: right;
	color: gray;
}
